
/* GOOGLE FONTIT */

@import url('https://fonts.googleapis.com/css?family=Inria+Sans|Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cantarell|Inria+Sans|Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

/* SIVUJEN TAUSTAT */
.tausta {
    font-family: 'Rubik', sans-serif;
    margin-top: 4px;
    margin-bottom: 130px;
}

.yp_content_background
{
    background-color: rgba(255,255,250,0.7);
    font-family: 'Rubik', sans-serif;
    min-height: 700px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.content_background {
    background-color: rgba(255,255,250,0.3);
    font-family: 'Rubik', sans-serif;
    min-height: 695px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.lomake_tausta {
    background-color: rgba(255,255,250,0.5);
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
}
.validointi{
    background-color: rgba(214, 35, 35, 0.2);
    border-radius: 10px;
}

/* NAVIGOINTI */
.navigointipalkki {
    background-color:  transparent;
    background-color: rgba(255,255,250,0.7);
    color: black !important;
    font-family: 'Rubik', sans-serif;
    border: 3px white solid;
    border-radius: 15px;
}

.navigointipalkki:hover {
    color: black !important;
}
.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #8abec1 !important;
    
}

.navbar-brand {
    color: black !important;
    font-weight: bolder;
    margin-top: -10px;
}
.navbar-brand:hover {
    color: #8abec1 !important;
}

.nav-item {
    margin-top: 6px;
}

.kori {
    margin-top: -8px;
    margin-right: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.copyright {
    color: black;
    margin-bottom: -1px;
    margin-top: -5px;
}

.footeri1 {
    margin-top: -3px;
}

/* NAVIGOINTI: tuoteryhmät */
.dropdown-menu  {
    background-color:  transparent;
    background-color: rgba(255,255,250,0.9);
}
/* NAVIGOINTI: tuoteryhmät */
.dropdown-item  {
    background-color: rgba(255,255,250,0.9) !important;
    color:black !important;
}
.dropdown-item:hover {
    color: #8abec1 !important;
}
/* NAVIGOINTI: login nappi */
#dropdownMenu1 {
    color: black !important;
    background-color: #f2f2f2;
}
.loginnappi {
    background-color: #a1c6db;
}
.dropdown-toggle {
    margin-top: 8px;
    margin-left: 20px;
}

/* NAVIGOINTI: SEARCH BAR */
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-left: 20px;
}

.form-control {
    margin-top: 8px;
    margin-left: 20px;
}
.main {
    margin-left: 420px;
    margin-right: 10px;
} 

.navbar-toggler-icon {
    background-color: #ffffff;
}

.kilpilogo {
    width: 40px;
    height: 40px;
   margin-left: 30px;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

/* TEKSTIT */

h1 {
    color: #8abec1 !important;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
    margin-top: 10px;
}

.sivupalkkiteksti {
   
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    color: #8abec1 !important;
    background-color: rgba(255,255,250,0.6);
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

.sivuteksti {
    margin-top:15px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-left: -5px;
    margin-right: 60px;   
}

/* TEKSTIT: linkkien värit */
a {
    color:#44969b !important;
}

/* TEKSTIT: linkkien värit */
a:hover {
    color: rgb(236, 148, 163) !important;
    text-decoration: none !important;
}

ul {
    list-style: none;
}

li.iskulause1::before {
    content: "•"; color:#8abec1;
    display: inline-block; width: 1em;
    margin-left: -1em;
    text-shadow: none;
    
}

li.iskulause2::before {
    content: "•"; color:#8abec1;
    display: inline-block; width: 1em;
    margin-left: -1em;
    text-shadow: none;
    
}
.iskulause1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    color:whitesmoke !important;
    text-shadow: 2px 2px 5px black;
    padding-top: 40px;  
}

.iskulause2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    color: whitesmoke !important;
    text-shadow: 2px 2px 5px black;
}

.iskulause22 {
    margin-left: 4px;
    margin-bottom: -4px;
}

.footerintekstit {  
        color: #8abec1 !important;
        font-weight: bolder; 
}

.uutiskirje {
    font-weight: bolder;
}

.tiedot {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
}

.tiedot2 {
    margin-top: 0px !important;
}

/* Tuotekorttien määritykset */
.kortti{
    align-items: bottom;
    height: 560px;
    border: 4px dotted grey;
}
.kortti img{
    height: 220px;
}
.kortti h5{
    min-height: 80px;
}
.kortti p{
    min-height: 50px;
}
.img-responsive {
    object-fit: contain;
    max-width: 100%;
    max-height: 15vw;
}

/* Tämä määritys jotta isolla näytöllä 3 korttia keskitetysti*/
@media (min-width: 992px) { 
    .col-1-5 {
        flex: 0 0 12.3%;
        max-width: 12.3%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Tämä määritys jotta kortit näkyy pienempänä puhelimella */
 @media screen and (max-width: 479px) {
    .img-responsive {  
       min-width: 100%;
       width: 400px;
       height: 400px;
     }
    .kortti p{
        min-height: 10px;
    }
    .kortti h5{
        min-height: 10px;
    }
    .kortti {
        height: 350px;
        width: 300px;
        margin-left:25px;
    }
}

/* */
.lahetanappi {
    background-color: #a1c6db;
}

/* Kartta */

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border-radius: 10px;
    margin-bottom: 100px;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    /*Tietoa meistä -sivu*/

    .tietoa {    
        font-size: 17px;
    }

    .tietoa2 {
        font-size: 17px;
        margin-top: 25px;
    }

    .tietoa1 {
        font-size: 25px;
        color: #f2a5b0 !important;
        font-weight: bolder;
        padding-top:5px;
        margin-bottom: 2px;
        font-family: 'Rajdhani', sans-serif;
    }

    /* modalit */

.modal-content {
    background-color: #b3dcdf;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
    margin-top: 10px;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 15px;
}

.fa-smile-o {
    color: black;
    text-shadow: none;
    margin-top: 8px;
}

.buttoni {
    margin-top: 10px;
}

/* lisää wishlistiin button */
.sydannappi {
    color:#f2a5b0 !important;
    background-color: #f2f2f2;
}
.ostanappi {
    color: black !important;
    background-color: #f2f2f2;
}
.ostanappi:hover {
    background-color: #a1c6db;
}

.poistanappi {
    color: black !important;
    background-color: #bfebdc;
}

/* tuoteryhmienmuokkaus table */
.tuoteryhmamuokkaus {
    padding: 8px !important;
}
